/* Main CSS */
body {
	font-family: 'Nunito', sans-serif;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Sans Pro', sans-serif;
}

p {
	font-size: 1.2rem;
}

/* Links CSS */
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* Main Nav CSS */
nav {
	background-color: rgba(21,31,33,0.5);
	z-index: 10000;
}

/* Header CSS */
.main-header {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/rocket-bg.jpg) center center no-repeat;
	background-size: cover;
	height: 100vh;
	min-height: 300px;
	padding: 35vh 1em 0;
	text-align: center;
}

.main-header-title {
	padding-bottom: 5vh;
}

.main-header-content {
	color: #fff;
	padding-bottom: 5vh;
}

.fa-chevron-down {
	color: #fff;
}

/* Summary CSS */
.summary {
	padding: 4% 10%;
}

/* Projects CSS */
.projects {
	background-color: #f5f5f5;
	padding: 6% 10%;
}

/* Skills CSS */
.skills {
	background-color: #dfdfdf;
	padding: 6% 10%;
}

/* Contact CSS */
.contact {
padding: 6% 10%;
}

/* Main Footer CSS */
.main-footer {
	background-color: #000;
	color: #fff;
	padding: 6% 10%;
}

/* Animations CSS */

/* Particles.js CSS */
#particles-js {
	width: 100%;
	height: 100%;
}

.particles-js-canvas-el {
	position: absolute;
	margin-top: -32px;
}

.dropdown-item.active {
	background-color: #fff;
	color: #007bff;
}

/* Typed.js CSS */
#typed-content {
	/* font-family: 'Baloo Chettan', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Dhurjati', sans-serif; */
font-family: 'Source Sans Pro', sans-serif;
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Noto Sans', sans-serif; */
/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Source Code Pro', monospace; */
	font-size: 5.7rem;
	color: white;
}

.typed-cursor {
	font-size: 5.7rem;
	color: white;
}

/* 3D Mockup CSS */
#code-screen {
	background: url(../images/tester.png);
}

.code-grid {
	-webkit-transform: rotateX(60deg) rotateZ(-50deg);
	transform: rotateX(60deg) rotateZ(-45deg);
	/*Preserve 3D style for children*/
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 530px;
}
.code-grid div {
	height: 402px;
	width: 524px;
	/*Preserve 3D style for children(pseudo elements)*/
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
/*Left and Bottom Sides*/
.code-grid div:before, .code-grid div:after {
	content: '';
	position: absolute;
	/*100% height and width*/
	top: 0; left: 0; right: 0; bottom: 0;
	background: inherit;
	background-size: cover;
}
/*Left Side*/
.code-grid div:before {
	-webkit-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
	/*Reducing the width of the left side for a flat feel*/
	width: 8px;
}
/*Bottom Side*/
.code-grid div:after {
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	/*Reducing the height*/
	height: 8px; top: auto; bottom: 0;
	/*Background fix - start the background from the bottom*/
	background-position: bottom center;
}
/*Shadow time - sadly all pseudo elements are used so we will have to add an HTML element in each LI*/
.s {
	position: absolute;
	/*30px smaller from each side*/
	top: 30px; left: 30px; right: 30px; bottom: 30px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.5);
	/*Pushing down the shadow to give an elevated feel*/
	-webkit-transform: translateZ(-50px);
	transform: translateZ(-50px);
}

/* Other CSS */

/* Media Queries */
@media (min-width: 1650px) {
.container {
    max-width: 1500px;
}
}

@media screen and (max-width: 550px) {
	#typed-content {
		font-size: 1.4rem;
	}
	.typed-cursor {
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 800px) and (min-width: 551px) {
	#typed-content {
		font-size: 2.1rem;
	}
	.typed-cursor {
		font-size: 2.1rem;
	}
	.summary {
		padding: 6.5% 1.5%;
	}
}

@media screen and (max-width: 1050px) and (min-width: 801px) {
	#typed-content {
		font-size: 3rem;
	}
	.typed-cursor {
		font-size: 3rem;
	}
	.summary {
		padding: 7% 2%;
	}
}

@media screen and (max-width: 1350px) and (min-width: 1051px) {
	#typed-content {
		font-size: 4rem;
	}
	.typed-cursor {
		font-size: 4rem;
	}
}

@media only screen and (orientation: landscape) {
.main-header {
    min-height: 500px;
    padding-top: 35vh;
	}
}
